/**
 * @Desc 字体图标
 */
@font-face 
  font-family: 'iconfont'
  src:  url('./font/iconfont.eot?6nv2k2')
  src:  url('./font/iconfont.eot?6nv2k2#iefix') format('embedded-opentype'),
    url('./font/iconfont.ttf?6nv2k2') format('truetype'),
    url('./font/iconfont.woff?6nv2k2') format('woff'),
    url('./font/iconfont.svg?6nv2k2#iconfont') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"] 
  /* use !important to prevent issues with browser extensions that change ./font */
  font-family: 'iconfont' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-eye:before 
  content: "\e900"

.icon-login-error:before 
  content: "\e901"

.icon-arrow-left:before 
  content: "\e902"

.icon-arrow-right:before 
  content: "\e903"

.icon-error:before 
  content: "\e904"
  color: #cc413c

.icon-info:before 
  content: "\e905"
  color: #2196f3

.icon-loading:before 
  content: "\e906"

.icon-prompt-ask:before 
  content: "\e907"

.icon-prompt-error:before 
  content: "\e908"

.icon-prompt-wran:before 
  content: "\e909"

.icon-sort-default:before 
  content: "\e90a"
  color: #ccc

.icon-sort-down .path1:before 
  content: "\e90b"
  color: rgb(204, 204, 204)

.icon-sort-down .path2:before 
  content: "\e90c"
  margin-left: -1em
  color: rgb(204, 204, 204)

.icon-sort-down .path3:before 
  content: "\e90d"
  margin-left: -1em
  color: rgb(51, 51, 51)

.icon-sort-up .path1:before 
  content: "\e90e"
  color: rgb(204, 204, 204)

.icon-sort-up .path2:before 
  content: "\e90f"
  margin-left: -1em
  color: rgb(204, 204, 204)

.icon-sort-up .path3:before 
  content: "\e910"
  margin-left: -1em
  color: rgb(51, 51, 51)

.icon-success:before 
  content: "\e911"
  color: #19be6b

.icon-add:before 
  content: "\e912"

.icon-add-person:before 
  content: "\e913"

.icon-close:before 
  content: "\e914"

.icon-collection-active:before 
  content: "\e915"

.icon-collection-inactive:before 
  content: "\e916"

.icon-copy:before 
  content: "\e917"

.icon-create-folder:before 
  content: "\e918"

.icon-download:before 
  content: "\e919"

.icon-edit:before 
  content: "\e91a"

.icon-forward:before 
  content: "\e91b"

.icon-full-screen:before 
  content: "\e91c"

.icon-mode-switch:before 
  content: "\e91d"

.icon-move:before 
  content: "\e91e"

.icon-player:before 
  content: "\e91f"

.icon-remove:before 
  content: "\e920"

.icon-rename:before 
  content: "\e921"

.icon-reset:before 
  content: "\e922"
  color: #e4ab67

.icon-search:before 
  content: "\e923"
  color: #e1a35a

.icon-upload:before 
  content: "\e924"

.icon-file-doc .path1:before 
  content: "\e925"
  color: rgb(77, 151, 255)

.icon-file-doc .path2:before 
  content: "\e926"
  margin-left: -1em
  color: rgb(166, 203, 255)

.icon-file-folder .path1:before 
  content: "\e927"
  color: rgb(236, 192, 73)

.icon-file-folder .path2:before 
  content: "\e928"
  margin-left: -1em
  color: rgb(255, 214, 88)

.icon-file-music .path1:before 
  content: "\e929"
  color: rgb(0, 190, 202)

.icon-file-music .path2:before 
  content: "\e92a"
  margin-left: -1em
  color: rgb(128, 223, 229)

.icon-file-pdf .path1:before 
  content: "\e92b"
  color: rgb(255, 91, 90)

.icon-file-pdf .path2:before 
  content: "\e92c"
  margin-left: -1em
  color: rgb(255, 173, 173)

.icon-file-png .path1:before 
  content: "\e92d"
  color: rgb(255, 102, 104)

.icon-file-png .path2:before 
  content: "\e92e"
  margin-left: -1em
  color: rgb(255, 102, 104)

.icon-file-png .path3:before 
  content: "\e92f"
  margin-left: -1em
  color: rgb(255, 179, 180)

.icon-file-ppt .path1:before 
  content: "\e930"
  color: rgb(255, 152, 67)

.icon-file-ppt .path2:before 
  content: "\e931"
  margin-left: -1em
  color: rgb(255, 152, 67)

.icon-file-ppt .path3:before 
  content: "\e932"
  margin-left: -1em
  color: rgb(255, 204, 161)

.icon-file-txt .path1:before 
  content: "\e933"
  color: rgb(145, 167, 185)

.icon-file-txt .path2:before 
  content: "\e934"
  margin-left: -1em
  color: rgb(200, 211, 220)

.icon-file-unknow .path1:before 
  content: "\e935"
  color: rgb(220, 220, 220)

.icon-file-unknow .path2:before 
  content: "\e936"
  margin-left: -1em
  color: rgb(238, 238, 238)

.icon-file-video .path1:before 
  content: "\e937"
  color: rgb(130, 131, 242)

.icon-file-video .path2:before 
  content: "\e938"
  margin-left: -1em
  color: rgb(193, 193, 249)

.icon-file-xls .path1:before 
  content: "\e939"
  color: rgb(88, 192, 18)

.icon-file-xls .path2:before 
  content: "\e93a"
  margin-left: -1em
  color: rgb(172, 224, 137)

.icon-file-zip:before 
  content: "\e93b"
  color: #fd8d59

.icon-sex-female:before 
  content: "\e93c"
  color: #faaaab

.icon-sex-male:before 
  content: "\e93d"
  color: #98e6e6

.icon-attend-class:before 
  content: "\e93e"

.icon-course-table:before 
  content: "\e93f"

.icon-edit-courseware:before 
  content: "\e940"

.icon-edit-lesson-plan:before 
  content: "\e941"

.icon-go-prepare-lesson:before 
  content: "\e942"

.icon-manual:before 
  content: "\e943"

.icon-material:before 
  content: "\e944"

.icon-material-library:before 
  content: "\e945"

.icon-material-package:before 
  content: "\e946"

.icon-prepare-lesson-disk:before 
  content: "\e947"

.icon-prepare-lesson-finish-no:before 
  content: "\e948"

.icon-prepare-lesson-finish-yes:before 
  content: "\e949"

.icon-prepare-lesson-online:before 
  content: "\e94a"

