/**
 * @Desc css全局变量
 */

// 颜色定义规范
$color-theme = #088844 
$color-theme-sub = #55c888

$color-bg = #ffffff

$color-text = #ffffff
$color-text-sub = #885500
$color-text-g = #ffeedd 
$color-text-b = #333

// 字体大小规范
$font-size-small = 12px
$font-size-medium = 16px
$font-size-large = 18px
$font-size-large-x = 28px

// 字体规范
$font-main = 'shs'
$font-happy-zcool = 'happy zcool'